@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.todo-input {
  margin-bottom: 10px;
}
.todo-list {
  list-style-type: none;
  padding: 0;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.todo-item button {
  background-color: red;
  color: white;
  border: none;
  padding: 3px 6px;
  cursor: pointer;
}
.todo-item button:hover {
  background-color: darkred;
} */