@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply custom scrollbar styling */
::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Round edges */
  border: 2px solid transparent; /* Space around the thumb */
  background-clip: padding-box; /* Prevent border from overlapping */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 5px; /* Round edges for the track */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovered */
}

/* Firefox-specific scrollbar styles */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: orange #f1f1f1; /* Thumb color and track color */
}